.App {
  text-align: center;
}

.Pagination{
  margin-top: 10px;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-height: 10vh;
}

.search-bar{
  height:30px;
  font-size:13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

.search-button{
  height:36px;
  font-size:13pt;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}

.Movies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}