.Poster{
    width: 200px;
    margin-top: 20px;
}

.Read-Toggle{
    color: rgb(71, 71, 71);
}

.Read-Toggle:hover{
    color: black;
    cursor: pointer;
}

.Movie{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
}
